/ResourceManager/node_modules
/ResourceManager/app/app.component.js
/ResourceManager/app/app.component.js.map
/ResourceManager/app/app.module.js
/ResourceManager/app/app.module.js.map
/ResourceManager/app/main.js
/ResourceManager/app/main.js.map
/ResourceManager/bin
/ResourceManager/ResourceManager.csproj.user
/.vs
/packages
/ResourceManager/typings